.Worker {
    width: 40%;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    border : 1px solid #eeeeee;
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 25px;
}
.WorkerBlockLeft {
    width: 25%;
}
.WorkerBlockRight {
    width: 70%;
}